/*
File: style.css
Author: Varga Lilla
Copyright: 2024, Varga Lilla
Group: Szoft I-1-N
Date: 2024-05-30
Github: https://github.com/Lilla624/
Licenc: GNU GPL
*/

body {
    background-color: aquamarine;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}